@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*
{
    font-family: Rubik, sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

header
{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
}

@media (max-width: 500px){
    header{
        /* Меняем оси шапки, делая её вертикальной. */
        flex-direction: column;
        /* Выравнивание элементов шапки с начала (по левому краю). */
        align-items: flex-start;
    }
}

.sign
{
    /*margin: 10px 0px;*/
}

.logo
{
    display: flex;
}

.search input
{
    margin-right: 20px;

    font-size: 16px;
    color: #828282;
    height: 28px;
    width: 320px;
    /*max-width: 320px;*/
    /*min-width: 100px;*/
    /*width: auto;*/
    border-style: none;
    border-bottom: 1px solid #333333
}

.search button
{
    color: red;
    border-style: none;
    background-color: transparent;
}

.logIn button
{
    height: 38px;
    width: 113px;

    color: white;
    border-style: none;
    border-radius: 6px;
    background-color: #E5261E;
}

.logIn button:hover
{
    background-color: #CC221B;
}


.sign
{
    margin-right: 11px;
}


.logo label
{
    /*display: block;*/
    color: #333333;
    font-size: 20px;

    margin: auto;
}

.centerBox
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    height: 5%;
}

nav
{
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div.navRadioButton
{
    font-weight: 500;
    font-size: 28px;
    display: inline-block;
    margin: 12px;
}

nav div.navRadioButton input[type=radio]
{
    display: none;
}

nav div.navRadioButton input[type=radio]:checked + label
{
    color: #e5261e;
    border-bottom: 2px solid #e5261e
}

nav div.navRadioButton label:hover
{
    /*color: #e5261e;*/
    /*border-bottom: 2px solid #e5261e*/
    cursor: pointer;
}

section article.new label, section article.genres label
{
    font-weight: 500;
    font-size: 24px;
}


section article.new ul
{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

section article.new ul li
{
    width: 280px;
    display: inline-block;
    position: relative;
}

section article.new ul img /*????*/
{
    width: inherit;
}

section article.new ul li img
{
    border-radius: 8px;
}
section article.new ul li label
{
    font-size: 20px;
    color: #333333;
    font-weight: 400;
    display: block;
}

section article.new ul li p
{
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    width: 90%;
    left: 5%;
    right: 5%;
    top: 1%;
    display: inline-block;
    position: absolute;
}

section article.new ul li:hover img
{
    cursor: pointer;
    filter: brightness(0.5);
}
section article.new ul li:hover p
{
    opacity: 1;
}

section article.genres ul
{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

article.genres li
{
    text-align: center;
    position: relative;
    width: 280px;
    height: 208px;
    opacity: 0.8;
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

section article.genres li:hover
{
    cursor: pointer;
    opacity: 1;
}


section article.genres li label.emoji
{
    display: block;
    margin-top: 23%;
    font-size: 48px;
}
section article.genres li p
{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;

    display: inline-block;
    margin-top: 13%;
}

article.genres li.secondGenre
{
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
}
article.genres li.thirdGenre
{
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
}
article.genres li.fourthGenre
{
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

ul.programList
{
    padding: 0;
}

ul.programList li.programListItem
{
    display: flex;
    background-color: #f2f2f2;
    height: 162px;
    border-radius: 8px;
    margin-bottom: 16px;
}

ul.programList li.programListItem  div.programListItemInfo
{
    margin-top: auto;
    margin-bottom: auto;
    width: 65%;
}

ul.programList li.programListItem img
{
    height: 49px;
    margin: auto;
}

ul.programList li.programListItem ul
{
    padding: 0;
    list-style: none;
}

ul.programList li.programListItem ul li
{
    margin-top: 12px;
}

ul.programList li.programListItem label.channelName
{
    color: #333333;
    font-size: 20px;
    font-weight: 500;
}

ul.programList li.programListItem label.time, ul.programList li.programListItem label.info
{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

ul.programList li.programListItem ul li:first-child label
{
    color: #E5261E;
}

ul.programList li.programListItem label.time
{
    margin-right: 16px;
    color: #333333;
}

article.tvProgram
{
    height: 518px;
    overflow: scroll;
    overflow-x: hidden;
}

article.tvProgram::-webkit-scrollbar
{
    width: 8px;
    background-color: #f2f2f2;
}

article.tvProgram::-webkit-scrollbar-thumb
{
    width: 4px;
    background-color: #bdbdbd;
    border-radius: 2px;
}

footer
{
    background-color: #f2f2f2;
    bottom: 0;
}

footer .centerBox
{
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
}
footer .contacts
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

footer .contacts text
{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

footer .contacts a
{
    font-size: 16px;
    font-weight: 500;
    color: #1f4766;
    text-decoration: none;
}



