@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*
{
    font-family: Rubik, sans-serif;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
}

@media (max-width: 500px){
    header{
        /* Меняем оси шапки, делая её вертикальной. */
        flex-direction: column;
        /* Выравнивание элементов шапки с начала (по левому краю). */
        align-items: flex-start;
    }
}

.sign
{
    /*margin: 10px 0px;*/
}

.logo
{
    display: flex;
}

.search input
{
    margin-right: 20px;

    font-size: 16px;
    color: #828282;
    height: 28px;
    width: 320px;
    border-style: none;
    border-bottom: 1px solid #333333
}

.search button
{
    color: red;
    border-style: none;
    background-color: transparent;
}

.logIn button
{
    height: 38px;
    width: 113px;

    color: white;
    border-style: none;
    border-radius: 6px;
    background-color: red;
}

.sign
{
    margin-right: 11px;
}


.logo label
{
    display: block;
    color: #333333;
    font-size: 20px;

    margin: auto;
}

.centerBox
{
    margin-left: 9%;
    margin-right: 9%;
}

section article.new label
{
    font-weight: 500;
    font-size: 24px;
}


section article.new ul
{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

section article.new ul li
{
    width: 280px;
    display: inline-block;
    position: relative;
}

section article.new ul img /*????*/
{
    width: inherit;
}

section article.new ul li img
{
    border-radius: 8px;
}
section article.new ul li label
{
    font-size: 20px;
    color: #333333;
    font-weight: 400;
    display: block;
}

section article.new ul li p
{
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    width: 90%;
    left: 5%;
    right: 5%;
    top: 1%;
    display: inline-block;
    position: absolute;
}

section article.new ul li:hover img
{
    filter: brightness(0.5);
}
section article.new ul li:hover p
{
    opacity: 1;
}

footer
{
    background-color: #f2f2f2;
}

footer .centerBox
{
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
}
footer .contacts
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

footer .contacts text
{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

footer .contacts a
{
    font-size: 16px;
    font-weight: 500;
    color: #1f4766;
    text-decoration: none;
}



